<div class="containers" *ngIf="stock">
  <div class="lead" *ngIf="stock.query.results && stock.query.results.quote.Name">

    <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3 row">
        <div class="col">
          {{stock.query.results.quote.Name}}
          <p class="lead pt-3">
            <strong>${{stock.query.results.quote.LastTradePriceOnly}}</strong>
            <i [ngClass]="{'pl-4':true,'fa':true,'fa-arrow-up':stock.query.results.quote.Change.charAt(0)=='+','fa-arrow-down':stock.query.results.quote.Change.charAt(0)=='-'}" aria-hidden="true" *ngIf="stock.query.results.quote.Change">
              &nbsp;{{stock.query.results.quote.Change.slice(1,6)}} ({{stock.query.results.quote.Change_PercentChange.slice(9,16)}})
            </i>
          </p>
        </div>
        <span class="float-right text-muted em-5 col-3 pt-4">
          <span class="float-right caps">{{stock.query.results.quote.Symbol}}</span>
          <br>
          <span class="float-right em-5">Updated at {{stock.query.created.slice(11,19)}} UTC</span>
          <br>
          <span class="float-right em-5">{{stock.query.created.slice(0,10)}}</span>
          <br>
          <span class="float-right em-5" (click)="refetch();">
            <button id="jumboBtn" class="btn btn-outline-primary radius-circle">
              <i id="rotate" class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Refresh
            </button>
          </span>
        </span>
      </h1>


    </div>
    </div>


      <div class="container-fluid row">
        <div class="col-5">
          <ul class="list-group">
            <li class="list-group-item"><strong>Range:&nbsp;</strong>${{stock.query.results.quote.DaysLow}} - ${{stock.query.results.quote.DaysHigh}}</li>
            <li class="list-group-item"><strong>Previous Close:&nbsp;</strong>${{stock.query.results.quote.PreviousClose}}</li>
            <li class="list-group-item"><strong>Average Daily Volume:&nbsp;</strong>{{stock.query.results.quote.AverageDailyVolume || 'NA'}}</li>
            <li class="list-group-item"><strong>Market Capitalization:&nbsp;</strong>{{stock.query.results.quote.MarketCapitalization || 'NA'}}</li>
            <li class="list-group-item"><strong>P/E Ratio:&nbsp;</strong>{{stock.query.results.quote.PERatio || 'NA'}}</li>
            <li class="list-group-item"><strong>EBITDA:&nbsp;</strong>{{stock.query.results.quote.EBITDA || 'NA' || 'NA'}}</li>
          </ul>
        </div>
        <div class="col-7">
          <form>
            <div class="row">
              <div class="form-inline col">
                <label for="num">View for last:&nbsp;&nbsp;&nbsp;</label>
                <input id="num" type="number" min="1" max="60" value="1" class="form-control">
                  <select name="span" class="form-control" id="span">
                    <option>Days</option>
                    <option>Months</option>
                    <option>Year</option>
                  </select>
              </div>

            </div>
          </form>

          <div class="containers">
              <img src="#" id="chart" class="img-responsive">
          </div>

        </div>


      </div>

  </div>



</div>
