<div class="container">
  <div class="display-4 pt-4">About Stocker!</div>
  <div class="lead pt-4" style="font-size:1.5em;">
    Stocker is an angular built web app which uses:
    <ul class="pt-1">
      <li>Yahoo! Finance Quotes API</li>
      <li>Yahoo! Finance Charts API</li>
      <li>Yahoo! Finance Historical Data API</li>
      <li>Yahoo! News RSS</li>
    </ul>
    to fetch data and use them accordingly.
    <p class="pt-3">User can also search stock by company names. <a routerLink="/search">Check here..</a></p>
  </div>
</div>

    <footer id="footer" class="bg-faded">
      <div class="container">
        <span class="text-muted">Created by <a href="https://rahulpsd18.github.io/" target="_blank">Risabh Kumar</a>.</span>
      </div>
    </footer>
