<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">{{nav_brand}}</a>
  <div class="collapse navbar-collapse" id="navbarLinks">
  <div class="navbar-nav float-right">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/search" routerLinkActive="active">Search</a>
      <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">About</a>
    </div>
    </div>
</nav>
