<!-- BLOCK 1 : Jumbotron Form -->
<div class="jumbotron">
  <div class="container">
    <form class="form-inline" autocomplete="off">
      <div class="form-group col-md-12" style="vertical-align:bottom;text-align:center; margin-left: auto; margin-right: auto;">
        <input type="text" class="form-control col-md-11 cap" placeholder="Search using Symbol here" [(ngModel)]="ticker" name="ticker">
        <button class="btn btn-outline-primary" (click)="fetchData()">Submit</button>
      </div>
    </form>
    <a routerLink="/search">
      <h1 class="lead pt-4" style="text-align:center;">
        Don't know the Symbol? Search using Company Name here <i class="fa fa-angle-double-right"></i>
      </h1>
    </a>
  </div>
</div>
<!-- END OF BLOCK 1 : Jumbotron Form -->
<div class="lead"><app-ticker-screen></app-ticker-screen></div>
<!-- BLOCK 2 : Result -->
<div class="container">
  <div class="row container">
    <div class="col">

      <!-- If data exists -->
      <div *ngIf="data">

          <!--  If data is valid  -->
          <div *ngIf="data.results && data.results.quote.Name">

            <!-- Card View of Result -->
            <a routerLink='detail/{{data.results.quote.symbol}}'>
              <div class="Gcard col-md-12">

                    <div class="GcardContainer lead">
                      {{ data.results.quote.Name }}
                      <span class="float-right hidden-sm-down text-muted cap">{{data.results.quote.symbol}}</span>
                    </div>


                  <p id="row1" class="GcardContainer lead">
                    {{data.results.quote.LastTradePriceOnly}} USD
                    <i [ngClass]="{'pl-4':true,'fa':true,'fa-arrow-up':data.results.quote.Change.charAt(0)=='+','fa-arrow-down':data.results.quote.Change.charAt(0)=='-'}" aria-hidden="true" *ngIf="data.results.quote.Change">
                      &nbsp;{{data.results.quote.Change.slice(1,6)}}  ({{data.results.quote.Change_PercentChange.slice(9,16)}})
                    </i>
                  </p>
                  <hr>

                  <div class="GcardContainer">
                    <div class="row">
                      <div class="col">Open: {{data.results.quote.Open}}</div>
                      <div class="col">MktCap: {{data.results.quote.MarketCapitalization}}</div>
                    </div>
                    <div class="row">
                      <div class="col">High: {{data.results.quote.DaysHigh}}</div>
                      <div class="col">P/E ratio: {{data.results.quote.PERatio || 'NA'}}</div>
                    </div>
                    <div class="row">
                      <div class="col">Low: {{data.results.quote.DaysLow}}</div>
                      <div class="col">Div yield: {{data.results.quote.DividendYield || 'NA'}}</div>
                    </div>
                  </div>

                  <hr>
                  </div>
                </a>
                <!-- END Card View -->

            </div>
            <!-- END OF data is valid -->

            <!-- If data is invalid -->
            <div *ngIf="!data || !data.results || !data.results.quote.Name">
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                Please check your ticker.
              </div>
              <app-news num=5></app-news>
            </div>
            <!-- END OF data is invalid -->

        </div>
      <!-- END OF data exists -->

    </div>
  </div>
</div>
<!-- END BLOCK 2 : Result -->

<!-- If data doesn't exist -->
<div *ngIf="!data" class="pt-4">
  <app-news num=7></app-news>
</div>
<!-- END OF data absent -->
