<!-- BLOCK 1 : Jumbotron Form -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 row"><input autofocus  type="text" class="form-control col-12 cap" placeholder="search here by symbol or company name" [(ngModel)]="zname" name="zname" (keyup)="filterData()">
    </h1>
    <p class="lead pt-2" *ngIf="res">{{res.length}} companies found.</p>
    <p class="lead pt-2" *ngIf="!res">&nbsp;</p>
  </div>
</div>
<!-- END OF BLOCK 1 : Jumbotron Form -->

<!-- BLOCK 2 : Result -->

<!-- If res doesn't exists -->
<div class="container" *ngIf="!res">
  <div class="row">
    <span class="Gcard col-12 pt-4" style="height:150px;text-align:center;">
        <div class="GcardContainer lead align-middle pt-4">Search here by symbol name or company name.</div>
    </span>
  </div>
</div>
<!-- End of res doesn't exists -->

<!-- If res exists -->
<div class="container" *ngIf="res">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  <!-- If Result Found -->
  <div class="row">
    <div class="Gcard col-12" *ngFor="let tab of res | paginate: { itemsPerPage: 5, currentPage: p }">
      <a routerLink="/detail/{{tab.Symbol}}">
        <div class="GcardContainer lead">
          {{tab.Name}}<span class="float-right hidden-sm-down">{{tab.Symbol}}</span>
        </div>
      </a>
    </div>
  </div>
  <!-- End of result found -->

  <!-- If no result found -->
  <div class="container" *ngIf="res.length==0">
    <div class="row">
      <span class="Gcard col-12 pt-4" style="height:150px;text-align:center;">
          <div class="GcardContainer lead align-middle pt-4">No result found.</div>
      </span>
    </div>
  </div>
  <!-- End of no result -->
</div>
<!-- End of res exists -->
<!-- END OF BLOCK 2 : Result -->
